#myDiv{
    width:100px;
    height:100px;
    background-color: #000;
    display:inline-block;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 15px 8px;
    background-color: #f4f4f4;
    outline-style: none;
    color: #949494;
}
html{
    float: left;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    margin: 0;
}
body{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 0;
}
.space{
    margin-bottom: 20px;
}
.nav{
    background-color:  #d4d4d4;
    padding: 20px 10px;
    text-align: right;
    color:#fff;
}
.footer{

}
.form{
    width: 40%;
    display: inline-block;
    text-align: left;
}
.inputhead{
    width: 20%;
    display: inline-block;

}
#result{
    width: 40%;
    display: inline-block;
    text-align: left;
}
#error{
    color: red;
    text-align: center;
}